<section class="product-section">
    <div class="product-grid" >
        <div class="product-card" *ngFor="let product of products">
          <div class="product-image"><a href=""><img src="{{ product.image }}" alt="{{ product.name }}"></a></div>
            <div class="product-info">
                <h3 class="product-name">{{ product.name }}</h3>
                <div class="product-rating">★★★★★</div>
                <p class="product-price">R$ {{ product.price }}</p>
            </div>
        </div>
    </div>
</section>