<div class="product-highlight-container" *ngIf="product">
  <div class="product-highlight-info">
    <h2>{{ product.name }}</h2>
    <p>{{ product.description }}</p>
    <button class="product-highlight-buy" (click)="goToProductDetails(product.id)">Comprar</button>
  </div>
  <div class="product-highlight-image">
    <img src="{{ product.imgUrl }}" alt="{{ product.name }}">
  </div>
</div>

<!-- Loading state -->
<div class="loading-container" *ngIf="!product">
  <div class="loading-spinner"></div>
  <p>Carregando produto...</p>
</div>
