.clients-feedbacks-container {
  background: #631717;
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: "Sora", sans-serif;
}
