.company-differentiators-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100px;
  text-align: center;
  padding: 20px;
  margin: 0;
  width: 100%;
  background-color: #FFDFCD;
  border-radius: 8px;
  box-sizing: border-box;
}

.company-differentiators-title {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  padding: 0;
  color: #333;
  font-family: 'Sora', sans-serif;
}

.company-differentiators-images {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  width: 100%;
  max-width: none;
}

.company-differentiators-images img {
  height: 3.5vw;
  max-height: 50px;
  min-height: 30px;
  width: auto;
  object-fit: contain;
  padding: 0.5rem;
  margin: 0;
  border: none;
  box-sizing: content-box;
  filter: grayscale(20%);
  flex-shrink: 0;
  display: block;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
  .company-differentiators-section {
    padding: 0 15px 20px 15px;
    margin: 0;
    min-height: 100px;
  }
  
  .company-differentiators-title {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
  }
  
  .company-differentiators-images {
    gap: 1.5rem;
    width: 100%;
    max-width: none;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .company-differentiators-images img {
    height: 4vw;
    max-height: 45px;
    min-height: 25px;
    width: 4vw;
    max-width: 45px;
    min-width: 25px;
    padding: 0.5rem;
    flex-shrink: 0;
    display: block;
  }
}

@media (max-width: 480px) {
  .company-differentiators-section {
    padding: 0 0px 0px 10px;
    margin: 0;
    min-height: 50px;
  }
  
  .company-differentiators-title {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
  }
  
  .company-differentiators-images {
    gap: 1rem;
    width: 100%;
    max-width: none;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .company-differentiators-images img {
    height: 5vw;
    max-height: 40px;
    min-height: 20px;
    width: 100%;
    max-width: 480px;
    min-width: 300px;
    padding: 0.4rem;
    flex-shrink: 0;
    display: block;
  }
}
